* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  justify-content: center;
  align-items: center;
  height: auto;
}

header {
  background-color: #faf8f8;
  color: rgb(46, 46, 46);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  height: 13%;
  align-items: center;
  box-shadow: 0 4px 6px rgba(7, 7, 7, 0.1);
}

header .logo h1 {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Dancing Script', serif;
  display: flex;
  color: #d12317;
  align-items: center;
}

header .logo .icon {
  margin-left: 10px;
  font-size: 1.5rem;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header nav ul li a {
  color: rgb(34, 34, 34);
  text-decoration: none;
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

header nav ul li a:hover {
  color: #480101;
}
.cart-h1{
  text-align: center;
  margin: 20px;
  font-family: 'Dancing Script', cursive;
  color: #d12317;
}
#cart-section {
  margin: 20px auto;
  width: 40%;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

#cart-items {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e5e5e5;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.product-item:hover {
  transform: translateY(-5px);
}

.product-item .product-details {
  flex-grow: 1;
  margin-left: 10px;
  order: 1;
}

.product-item .product-name {
  font-weight: bold;
  font-size: 1rem;
}

 .cart-pro-price {
  font-size: 1.1rem;
  color: #09940e;
  margin-top: 15px;
  margin: 10px;
}

 .car-remove {
  background-color: #ff0000;
  color: white;
  padding: 10px 8px;
  font-size: 0.7rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  order: 3;
}

.product-item .car-remove:hover {
  background-color: #cc0000;
}

#total-price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #8f0606;
  margin-top: 15px;
}

.checkout-btn {
  display: block;
  width: 20%;
  margin: 30px auto;
  margin-bottom: 40px;
  padding: 8px;
  background-color: #109810;
  color: white;
  font-size: 1rem;
  text-align: center;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkout-btn:hover {
  background-color: #3fc83f;
}
.pro-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  header .logo h1 {
      font-size: 1.5rem;
  }

  header nav ul {
      align-items: center;
  }

  header nav ul li a {
      font-size: 1rem;
      padding: 8px 12px;
  }

  #cart-section {
      width: 40%;
      padding: 10px;
  }

  .product-item {
      flex-direction: column;
      align-items: flex-start;
  }

  .pro-img {
      width: 25px;
      height: 25px;
  }
}
.cart-image-fit{
  width: 15%;
  height: 15%;
}