* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f8f9fa;
  color: #4f4d4d;
  padding: 20px;
}
header {
  background-color: #faf8f8;
  color: rgb(46, 46, 46);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(7, 7, 7, 0.1);
}

header .logo h1 {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Dancing Script', serif;
  display: flex;
  color:#f44336;
  align-items: center;
}

header .logo .icon {
  margin-left: 10px;
  font-size: 1.5rem;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header nav ul li a {
  color: rgb(34, 34, 34);
  text-decoration: none;
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

header nav ul li a:hover {
  color: #570505;
}

#cart-section {
  margin: 40px auto;
  width: 90%;
  max-width: 1100px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-logo .icon {
  font-size: 1.8rem;
  margin-left: 5px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #c3c1c1;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ff6347;
}

nav ul li a:active {
  color: #cc4c36;
}

.cart-icon {
  font-size: 1.5rem;
  margin-left: 20px;
  color: #cc4c36;
}
.cart-icon a {
  
  color: #cc4c36;
}
.cart-icon span{
  
  color: #d2d2d2;
  font-size: 1rem;
}

@media (max-width: 768px) {
  header {
      flex-direction: row;
      text-align: center;
  }

  nav {
      flex-direction: row;
  }

  nav ul {
      flex-direction: row;
  }

  nav ul li {
      margin: 10px 0;
  }

  .cart-icon {
      margin-top: 10px;
  }
}

#searchBar {
  width: 40%;
  max-width: 600px;
  padding: 10px;
  margin: 20px auto;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 18px;
  display: block;
}

#product-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 30px;
  justify-content: center;
}

#results {
  max-width: 200px;
  margin: 5px auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  background-color: white;
  display: none;
}

.result-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background 0.2s;
}

.result-item:hover {
  background: #f1f1f1;
}
.product-card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  text-align: center;
  padding: 20px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.product-card h3 {
  font-size: 24px;
  margin: 10px 0;
  flex-grow: 1;
}

.product-card p {
  font-size: 18px;
  color: #555;
  margin-bottom: 8px;
  flex-grow: 1; 
}

.price {
  font-size: 22px;
  color: #068b25;
  font-weight: bold;
  margin: auto;
}

.btn {
  padding: 10px 12px;
  background-color: #e63946;
  border: none;
  border-radius: 18px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.3s ease;
  margin: auto;
}

.btn:hover {
  background-color: #f26573;
}

