body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #fbfbf7 0%, #f3f3f0 100%);
    margin: 0;
    padding: 0;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: #f4f6eb;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.register-logo {
    font-size: 2.1rem;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 15px;
    color: rgb(206, 5, 5);
    font-family: "Dancing Script", serif;
}

.register-form {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin:10px;
}

.register-form h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    color: #333;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

.input-group input:focus {
    border-color: #00bcd4;
    outline: none;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.register-btn {
    width: 100%;
    padding: 12px;
    background-color: #343434;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-btn:hover {
    background-color: #484848;
}

.login-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.login-link a {
    color: #026976;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
    color: #07b5cc;
}
#role{
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}
